<!-- The sidebar -->
{% load static %}
{% load Project_Django_Boilerplate_Gap_Extras %}
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
<div class="sidebar" style="position:absolute; top:10%; left:0;" >
    <a target="_self" href='/accounts/profile/'>Home</a>
    <a target="_self" href='/CRUD/list.html'>Data Input</a>
    <a href="#enrich">Data Enrichment</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>

</div>

<!-- Page content -->
<div class="content">
    ..
</div>