{% load static %}
{% include 'snippet/head.html' %}
<body >
<div class="container">
    <div class="row">
        <p><h3 class="text-primary" id="data_input" style="text-align: center;">Name of my data table</h3></p>
        <hr style="border-top:1px dotted #ccc;"/>
        {% block body %}

        {% endblock %}
    </div>
</div>
</body>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script type = "text/javascript">
    $(document).ready(function(){
        $('#table').DataTable();
        $('#submit').on('click', function(){
            $firstname = $('#firstname').val();
            $lastname = $('#lastname').val();
            $eyecolor = $('#eyecolor').val();
            $height = $('#height').val();

            if($firstname == "" || $lastname == "" || $eyecolor == "" || $height == "" ){
                alert("Please complete field");
            }else{
                $.ajax({
                    type: "POST",
                    url: "insert",
                    data:{
                        firstname: $firstname,
                        lastname: $lastname,
                        eyecolor: $eyecolor,
                        height: $height,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function(){
                        alert('Save Data');
                        $('#firstname').val('');
                        $('#lastname').val('');
                        $('#eyecolor').val('');
                        $('#height').val('');
                        window.location = "/datatables/index.html";
                    }
                });
            }
        });
    });
</script>