body {
    background-color: white;
}

h1 {
    color: white;
}
.center {
    margin: auto;
    width: 50%;
    align-items: center;
    justify-content: center;

}
.header {
    padding: 60px;
    text-align: center;
    background: #000000;
    color: white;
    font-size: 30px;
}
dialog { display: block; }

dialog:not(:target):not([open]) { display: none; }