{% load socialaccount %}
{% load static %}
{% load i18n %}
<div style="position:absolute;top:12%;bottom:12%;left:12%;background-color: white">
    <h1 style="color:black;text-align: center;font-size: 110%">"You don't have the proper access to see this page"</h1>
        <img style='display: block;margin-left: auto;margin-right: auto;width: 50%' src="{% static 'img/You_Shall_Not_Pass!_0-1_screenshot.jpeg' %}" alt="Nice-Try" style="width:600px">
        <p style="color:black;text-align: left">
        Just gotta get out, just gotta get right outta here
        Nothing really matters, Anyone can see,
        Nothing really matters,
        Nothing really matters to me
        Any way the wind blows...
        </p>
    
        <p>user: {{ user.username }}</p>
        <p>Your Assigned Roles: {{ login_roles }}</p>
    </div>