{% load static %}
<div style="width:100%;position:absolute;height:10%; bottom:2%; left:0;background-color: #2E314E">
    <img src='{% static "img/jsoc-seal-1.svg" %}' alt="icon" style="position: absolute ;left:2%; Top:5%;height:90%;margin: auto;" id="home" >
    <img src='{% static "img/gap-seal-1.svg" %}' alt="icon" style="position: absolute ;left:8%; Top:5%;height:90%;margin: auto;" id="home" >
    <a style="position:absolute;Top:25%;left:16%;width:95%;height:8%;text-align: justify;float:inside;font-size: 160%;color: white;text-overflow: ellipsis;" href="#link1">link1</a>
</div>

{% include 'snippet/web_classification_banner_U_bottom.html' %}
